p {
  margin: 0;
}

/* !!! Header Section */

header {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));

  z-index: 3;
}

.snooper-left-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.snooper-left-header > img {
  max-height: 2rem;
}

.snooper-right-header {
  max-height: 4rem;
  margin: 0rem;
  margin-right: 2rem;
  position: relative;
  top: 0.2rem;
}

header img:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Header Section !!! */

/* !!! Sidebar Section */

nav {
  padding: 1.5rem 2rem;
  min-width: 15%;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: var(--primary-color);
  letter-spacing: 0px;
  color: white;
  box-shadow: 15px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.snooper-nav-hidden {
  transform: translateX(-110%);
  transition: transform 0.5s ease-in-out;
}

.snooper-nav-available {
  transform: translateX(-5%);
  transition: transform 0.5s ease-in-out;
}

.snooper-left-header-sidebar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.snooper-left-header-sidebar > img {
  max-height: 2rem;
}

.snooper-left-header-nav-sidebar:hover {
  opacity: 0.8;
  cursor: pointer;
}

.snooper-analystic {
  position: relative;
  right: 0rem;
  margin-top: 4rem;
  width: 20rem;
}

.snooper-analystic:hover {
  opacity: 0.8;
  cursor: pointer;
}

nav > p {
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
nav > ul {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  /* border: var(--box-border-test-red); */
  list-style-type: none;
  padding: 0;
  margin: 0rem 0rem 1rem 1rem;
}

.snooper-nav-footer {
  /* border: var(--box-border-test-red); */
  position: absolute;
  width: 20rem;
  bottom: 4rem;
}

.snooper-nav-footer > ul {
  /* border: var(--box-border-test-red); */
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-family: Arial;
  list-style-type: none;
  padding: 0rem;
}

li {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

li:hover {
  opacity: 0.8;
  cursor: pointer;
  text-decoration: underline;
}

.snooper-nav-footer li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: 0rem;
  word-spacing: 0.1rem;
}

/* Sidebar Section !!! */

/* !!! Message Section */

.snooper-message-section {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  /* background-color: red; */
  margin-top: 9.5rem;
}

.snooper-content-body {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: var(--primary-border);
  background-color: var(--secondary-color);
  padding: 4rem 2rem 1rem 2rem;
}

.snooper-content-text {
  position: relative;
  bottom: 2rem;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.snooper-message-toggle {
  position: relative;
  top: 2rem;
  border: var(--primary-border);
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 0.3rem 3rem;
}

.snooper-profile-pic {
  position: relative;
  bottom: 0.75rem;
}

.snooper-keys {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.snooper-keys > div {
  position: relative;
  bottom: 3.2rem;
  padding: 0.3rem 3rem;
  border: var(--primary-border);
  background-color: var(--secondary-color);
  text-transform: uppercase;
  cursor: pointer;
}

/* Message Section !!! */

/* !!! S-O section */
.snooper-s-o-container {
  width: 75%;
  margin: 0rem auto;
  margin-top: 9.5rem;
  margin-bottom: 30%;
}

.snooper-traffics {
  height: 2.5rem;
  max-width: 20rem;
  min-width: 27rem;
  padding: 0rem;
  display: flex;
}

.snooper-traffics div {
  border: var(--primary-border);
  background-color: var(--secondary-color);
  width: 50%;
  z-index: 1;
  text-align: center;
}

#traffic-one:hover,
#traffic-two:hover {
  background-color: var(--border-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.snooper-outer-body {
  border: var(--primary-border);
  background-color: var(--secondary-color);
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snooper-inner-body {
  border: var(--primary-border);
  height: 75%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snooper-content-container {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.snooper-snooper-infos,
.snooper-snooper-message {
  border: var(--primary-border);
  background-color: var(--secondary-color);
  height: calc(100% - 0.3rem);
}

.snooper-snooper-infos > img {
  width: 80%;
}

.snooper-snooper-infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.snooper-snooper-message {
  flex: 3;
}

.snooper-snooper-name-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

.snooper-snooper-name-info > p {
  margin-right: 1rem;
}
.snooper-snooper-name-info > img {
  margin-left: 1rem;
}

.snooper-snooper-message {
  font-size: 1.2rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.snooper-snooper-message > p {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.snooper-message-content {
  margin-bottom: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

/* CUSTOM SCROLL BAR - from W3S */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* S-O section !!! */
