p {
  margin: 0;
}

/* !!! Header Section */

header {
  padding: 0.7rem 3rem;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));

  z-index: 3;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 4rem;
  max-height: 2rem;
}


.logout-button {
  max-height: 4rem;
  margin: 0;
  margin-right: 7rem;
  position: relative;
  top: 0.2rem;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: var(--tertiary-color);
}

.logout-icon {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}
/* Header Section !!! */

/* Message Section !!! */

/* !!! S-O section */
.snooper-s-o-container {
  width: 75%;
  margin: 0rem auto;
  margin-top: 9.5rem;
  margin-bottom: 30%;
}

.snooper-traffics {
  height: 2.5rem;
  max-width: 60rem;
  min-width: 27rem;
  padding: 0rem;
  display: flex;
}

.snooper-traffics div {
  border: var(--primary-border);
  background-color: var(--secondary-color);
  width: 50%;
  z-index: 1;
  text-align: center;
}

#traffic-one:hover,
#traffic-two:hover {
  background-color: var(--border-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.snooper-outer-body {
  border: var(--primary-border);
  background-color: var(--secondary-color);
  width: 100%;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snooper-inner-body {
  border: var(--primary-border);
  height: 75%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snooper-content-container {
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.snooper-snooper-infos,
.snooper-snooper-message {
  border: var(--primary-border);
  background-color: var(--secondary-color);
  height: calc(100% - 0.3rem);
}

.snooper-snooper-infos > img {
  width: 80%;
}

.snooper-snooper-infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.snooper-snooper-message {
  flex: 3;
}

.snooper-snooper-name-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

.snooper-snooper-name-info > p {
  margin-right: 1rem;
}
.snooper-snooper-name-info > img {
  margin-left: 1rem;
}

.snooper-snooper-message {
  font-size: 1.2rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.snooper-snooper-message > p {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.snooper-message-content {
  margin-bottom: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}