:root {
  --primary-color: #729b79;
  --primary-complement-color: #9b7294;
  --secondary-color: #b09a82;
  --secondary-complement-color: #8298b0;
  --tertiary-color: #583e23;
  --primary-border: 0.3rem solid #583e23;
  --box-border-test-black: 0.3rem solid black;
  --box-border-test-red: 0.3rem solid red;
  --box-border-test-blue: 0.3rem solid blue;
  --box-border-test-gray: 0.3rem solid gray;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/pixel-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: var(--primary-color);
  font-family: "Pixelify Sans", sans-serif;
  color: var(--tertiary-color);
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.05rem;
  word-spacing: 0.5rem;
}

p {
  margin: 0;
}

/* !!! Header Section */

header {
  padding: 1rem;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));

  z-index: 3;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-header > img {
  max-height: 2rem;
}

.left-header-nav:hover {
  opacity: 0.8;
}

.right-header {
  max-height: 4rem;
  margin: 0;
  margin-right: 1rem;
}

.right-header:hover {
  opacity: 0.8;
}

/* Header Section !!! */

/* !!! Message Section */

.message-section {
  position: absolute;
  top: 15rem;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.content-body {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: var(--primary-border);
  background-color: var(--secondary-color);
  padding: 4rem 2rem 1rem 2rem;
}

.content-text {
  position: relative;
  bottom: 2rem;
}

.message-toggle {
  position: relative;
  top: 2rem;
  border: var(--primary-border);
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 0.3rem 3rem;
}

.profile-pic {
  position: relative;
  bottom: 0.75rem;
}

.keys {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.keys > div {
  position: relative;
  bottom: 3.2rem;
  padding: 0.3rem 3rem;
  border: var(--primary-border);
  background-color: var(--secondary-color);
  text-transform: uppercase;
  cursor: pointer;
}

.pub-key:hover {
  background-color: var(--secondary-complement-color);
}

.priv-key:hover {
  background-color: var(--secondary-complement-color);
}

/* Message Section !!! */
