:root {
  --primary-color: #729b79;
  --primary-complement-color: #9b7294;
  --secondary-color: #b09a82;
  --secondary-complement-color: #8298b0;
  --tertiary-color: #583e23;
  --primary-border: 0.3rem solid #583e23;
  --box-border-test-black: 0.3rem solid black;
  --box-border-test-red: 0.3rem solid red;
  --box-border-test-blue: 0.3rem solid blue;
  --box-border-test-gray: 0.3rem solid gray;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/pixel-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: var(--primary-color);
  font-family: "Pixelify Sans", sans-serif;
  color: var(--tertiary-color);
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.05rem;
  word-spacing: 0.5rem;
}
